* {
  margin: 0;
}

.wechat {
  display: none;
  width: 300px;
  height: 300px;
}

.app__productSection {
  max-width: 1500px;
  margin: 50px auto;
  overflow: hidden;
  height: auto;
}

.app__productSectionTitle {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 300;
  color: gray;
}

@media (max-width: 960px) {

  .app__productSectionTitle{
    text-align: center;
  }


}
