* {
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif !important;
}

.wechat {
  display: none;
  width: 300px;
  height: 300px;
}

.app__productSection {
  max-width: 1500px;
  margin: 20px auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}

.app__products {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    overflow: hidden;
    margin-left: 50px
}

.app__infiniteScroll{
   z-index: 5 !important;
}

.app__category {
  font-family: 'Noto Sans TC', sans-serif;
  width: 320px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
}

.app__webCategory {
  font-family: 'Noto Sans TC', sans-serif;
  width: 100%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 15px 15px 20px #D1D9E6;
  padding: 35px 20px;
}

.app__categoryTitle {
    color: #4DBBA3   
}

.app__webCategory > p {
  margin-bottom: 10px;
}

.app__mobileCategory{
  width:100%;
  margin-bottom: 20px !important;
  display: none !important;

}

.app__categoryBtn {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 18px !important;
  justify-content: flex-start !important;
  padding: 10px 5px !important;
} 

.app__categoryBtn:hover {
  color: green;
  font-weight: bold;
}

.app__titleSection{
  display: flex;
  max-width: 1500px;
  align-items: center;
  margin: 0 auto;

}

.app__productSectionTitle {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 300;
  color: gray;
  max-width: 1500px;
  margin: 50px auto;
  justify-items: flex-start;
  flex:1;
}

.app__searchBar{
  padding: 10px 15px;
  width:300px;
  border: 2px solid #ccc;
  border-radius: 20px;
}

.app__productSearchTitle {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 300;
  color: gray;
  margin: 10px auto;
}

@media (max-width: 960px) {

  .app__productSectionTitle{
    text-align: center;
    margin: 20px; 
    display: none;
  }
  .app__productSection {
    flex-direction: column;
  }
  .app__category{
    width: 75%;
    margin: 0 auto;
    font-size: 20px;
  }
  .app__webCategory {
    display: none;
  }
  .app__mobileCategory {
    display: flex !important;
  }

  .app__titleSection {
    display: block;
    width: 80%;
    margin-top: 50px;
  }

  .app__searchBar {
    width: 80%;
    padding: 5px !important;
    height: 20px;
  }

  .app__products {
      margin: 0;
  }

}


.MuiTreeItem-label {
    font-size: 18px !important;
    padding: 10px 5px !important; 
    margin-left: 5px !important;
    background-color: transparent;
}

.MuiTreeItem-content:hover {
    background-color: #4DBBA3 !important;
    border-radius: 20px;
    color: #fff;
}

.Mui-selected {
    background-color: #4DBBA3 ;
    border-radius: 20px;
    color: #fff;
}

.MuiTypography-body1 {
    background-color: transparent !important;
}